# Ignore everything
/*

# Unignore the .vscode directory and specific files
!tools
!Test.lox
!.gitignore
!Lox.csproj
!Lox.cs
!Scanner.cs
!TokenType.cs
!Token.cs
!Expr.cs
!GenerateAst.cs
!Parser.cs
!AstPrinter.cs